body {
    scroll-behavior: smooth;
}

.hero {
    height: 100vh;
    background: linear-gradient(to right, #0d6efd, #6610f2);
    color: white;
    display: flex;
    align-items: center;
}

.hero span {
    color: #ffc107;
}

.social-icons a {
    color: white;
    font-size: 1.8rem;
    margin: 0 10px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #ffc107;
}

.skill-box {
    background: white;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.project-card {
    transition: transform 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
}

footer {
    background: #111;
    color: #aaa;
}